Django==2.2.5
django-braces==1.14.0
django-chatter==1.0.7
django-messages==0.6.0
django-model-utils==4.0.0
django-optimistic-lock==1.0.0
django-private-chat==0.2.2
djangorestframework==3.10.2
Pillow==6.2.1

