{% extends "base.html" %}

{% block content %}

<div class="login-wrapper">
    {% if form.errors %}
      <p class="error">Nieprawidłowe dane logowania. Spróbuj ponownie.</p>
    {% endif %}
    {% if next %}
      {% if user.is_authenticated %}
        <p>Twoje konto nie ma dostępu do tej strony. By kontynuować, zaloguj się</p>
      {% else %}
        <p>Zaloguj się by mieć dostęp do tej strony</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <span>{{ form.username.label_tag }}</span>
        <span class="textbox">{{ form.username }}</span>
        <br>
        <br>
        <span>{{ form.password.label_tag }}</span>
        <span class="textbox">{{ form.password }}</span>
        <br>
        <br>
        <input class="submit_button" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p><a href="{% url 'password_reset' %}">Zapomniałeś hasła?</a></p>
</div>
{% endblock %}
