{% extends 'base.html' %}

{% block content %}
<div class="register-wrapper">
    {% if error_message %}
        <p class="error">
        {{ error_message }}
        </p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <br>
        <div class="center_div">
            <button class="submit_button" type="submit">Stwórz konto</button>
            <br>
            Jeśli posiadasz już konto <a href="/login" target="blank"><strong>Zaloguj się</strong></a>.
        </div>
    </form>

</div>

{% endblock %}
