{% extends "base.html" %}
{% block title %}<title>Moje aukcje - ptasznikowe aukcje</title>{% endblock %}
{% block content %}

<h2> Moje aukcje </h2>
{% if my_auctions_list %}
    <ul class="my-auction-list">
    {% for auction in my_auctions_list %}
        <li class="my-auction-li"><a class="my-auction-link" href="{% url 'auctions:detail' auction.id %}">{{ auction.title }}</a>
            <hr>
            <div class="my-auction-date">Dodano: {{ auction.date_added }}</div>
            {% if auction.is_active %}
                <span class="my-auction-status-active">
                    Aukcja w toku
                </span>
                {% if auction.winner %}
                <span class="my-auction-value">
                    Prowadzi: {{ auction.winner }} Kwota: {{ auction.final_value }}zł
                </span>
                    {% else %}
                                    <span class="my-auction-value">
                    Nikt nie licytuje
                </span>
                    {% endif %}
            {% else %}
                {% if auction.final_value %}
                <span class="my-auction-status-resolved">
                    Wartość końcowa: {{ auction.final_value }}zł
                    <br></br>
                    Wygrany: {{ auction.winner }}
                </span>
                {% else %}
                <span class="my-auction-status-no_winner">
                    Brak zwycięzcy
                </span>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h4>Brak aukcji.</h4>
{% endif %}

{% endblock %}
