{% extends "base.html" %}
{% block title %}<title>Moje licytacje - ptasznikowe aukcje</title>{% endblock %}
{% block content %}

<h2> Moje licytacje </h2>
{% if my_bids_list %}
<ul class="my-bid-list">
    {% for bid in my_bids_list %}
        <li class="my-bid-li"><a class="my-bid-link" href="{% url 'auctions:detail' bid.auction.id %}">{{ bid.auction.title }}</a>
            <hr>
            <div class="my-bid-label">
                Moja ostatnia stawka: {{ bid.amount }}zł
                <div class="my-bid-date">({{ bid.date }})</div>
            </div>
            {% if bid.auction.is_active %}
                <div class="my-bid-status-active">W toku</div>
            {% else %}
                {% if bid.auction.winner and bid.auction.winner == user %}
                    <div class="my-bid-status-won">Wygrana za {{ bid.amount }}zł</div>
                {% else %}
                    <div class="my-bid-status-lost">Przegrana</div>
                {% endif %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
    <h4>Brak licytacji.</h4>
{% endif %}

{% endblock %}
