<!DOCTYPE html>
<html lang="pl">
<head>
  {% block title %}<title>Ptaszinikowe aukcje</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
</head>
<body>
      {% block sidebar %}
        <ul class="navbar">
          <li class="auction-rush-button">
              <a class="navbar-link" href="{% url 'index' %}">
                  Ptasznikowe aukcje
              </a>
          </li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'auctions:auctions' %}">Wszystkie aukcje</a></li>
          {% if user.is_authenticated %}
          <li class="navbar-item"><a class="navbar-link" href="{% url 'my_auctions' %}">Moje aukcje</a></li>
          <li class="navbar-item"><a class="navbar-link" href="{% url 'my_bids' %}">Moje licytacje</a></li>
          <li class="create-auction-button"><a class="navbar-link" href="{% url 'auctions:create' %}">Stwórz aukcje</a> </li>
          {% endif %}
          {% if user.is_authenticated %}
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'logout' %}?next={{request.path}}">Wyloguj</a></li>
            <li class="navbar-item-right"><span class="navbar-text">Zalogowano jako: <span class="username">{{ user.get_username }}</span></span></li>
          {% else %}
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'login' %}?next={{request.path}}">Zaloguj</a></li>
            <li class="navbar-item-right"><a class="navbar-link" href="{% url 'register' %}?next={{request.path}}">Rejestracja</a></li>
          {% endif %}
        </ul>
     {% endblock %}
      <div class="main-content">{% block content %}{% endblock %}</div>
</body>
</html>
